---
layout: default
---
<head>
    <meta charset="utf-8">
    <title>湘南陶芸教室</title>
    <meta name="description" content="神奈川県藤沢市、ＪＲ藤沢駅より徒歩１分、アクセスにとても便利な陶芸教室です。初心者から安心して、土に親しみ作陶できる環境を用意しています。">
    <meta name="keywords" content="湘南陶芸教室,陶芸教室,教室,藤沢市,藤沢駅,藤沢,焼き物,陶器,ろくろ,美術,工芸,陶芸,彫刻,現代美術,オブジェ,クレイワーク,カルチャー,カルチャーセンター,アトリエ,神奈川,神奈川県,駅前,湘南">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<div class ="wrapper">
  {% include header.html %}
  {% include content.html %}
  {% include footer.html %}
</div>

